.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 0 48px 48px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .content {
    padding: 0 32px 32px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 16px 24px;
  }
}
